/* layouts, mobile first */

:root {
  --height-main : 6.4rem;
  --width-main : 8rem;
  --transition: 100ms;
}

/* init html */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  position: absolute;
}

html * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;

  /* native css layout debug outliner */
  /* border: 1px solid #7fff0080; */
}

.container {
  display: flex;
}

.cont-p {
  padding: 1rem .8rem 1rem .8rem;
}

.cont-m {
  margin: 0 0 2rem 0;
}

.cont-m-l {
  margin-left: 1rem;
}

.cont-w {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.cont-w-auto {
  width: 100%;
}

.cont-fl-row {
  flex-direction: row;
}

.cont-fl-col {
  flex-direction: column;
}

.cont-fl-auto {
  flex-direction: column;
}

.cont-fl-auto > *:last-child {
  margin-top: 2rem;
}

.cont-m-top {
  margin-top: var(--height-main);
}

.cont-height-vh {
  min-height: calc(100vh - var(--height-main)*.5); 
}

/* basic nav layout init */
nav {
  display: flex;
  flex-flow: row nowrap;
  margin: .8rem 0 .8rem 0;
  height: auto;
  justify-content: center;
}

nav > * {
  margin: 0 .3rem 0 .3rem;
}

nav > * > * {
  display: flex;
  width: auto ;
  padding: .4rem;
}

nav > * > * > a {
  padding: .2rem;
}

/* navbar */
#navbar {
  position: absolute;
  top: 0;
  height: auto;
  width: 100%;
  flex-direction: column;
}

#navbar ol:first-child {
  flex-direction: column;
}

#navbar, #navbar ol {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#navbar ol {
  align-items: center;
  margin: .6125rem 0 .6125rem 0;
}

#navbar nav * { 
  margin: 0;
}

#navbar a {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
}

/* jumbo */
#jumbotron {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jumbotron div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jumbotron * h1 {
  margin: 0 0 .4rem 0;
  text-align: center;
}

/* news */
.btn-drop {
  align-self: center;
  width: 50px;
  height: 36px;
}

.card-news {
  flex-grow: 0;
  width: calc(var(--height-main)*4);
  height: calc(var(--height-main)*3);
  margin: 1rem 0 0 0;
}

/* tables */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  overflow-x: hidden;
}

thead {
  height: 3em;
  border-top: 2px solid grey;
}

td {
  text-align: left;
  border-top: 1px solid grey;
  padding: .3rem 0 .3rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tbody *:first-child{
  text-align: left;
}

tbody td{
  text-align: center;
}

#table-server-info td, #table-server-rules td{
  text-align: left;
}

tbody{
  border-top: 2px solid gray;
  border-bottom: 2px solid grey;
}

/* media resposive on desktop */
@media screen and (min-width: 768px) {

  #navbar {
    padding-top: 1rem;
    flex-direction: row;
  }

  #navbar ol {
    margin: 0 1.6rem 0 1.6rem;
  }

  #navbar ol:first-child {
    flex-direction: row;
  }

  #jumbotron {
    width: auto;
    align-items: center;
  }

  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

  .cont-fl-auto {
    flex-direction: row;
  }

  .cont-fl-auto > *:last-child {
    margin-left: 12px;
    margin-top: 0;
  }
}


/* footer defaults */
footer{
  padding: 2pt 0 2pt 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  footer * {
    font-size: 68%
  }
}
/* footer ends */

.text-overflow {
  overflow-y: scroll;
  overflow-x: wrap  ;
}

.obj-rotate-90 {
  position: absolute;
  transform: rotate(-90deg);
}