/* layouts, mobile first */

:root {
  --height-main : 5.125rem;
  --width-main : 8rem;
  --transition: 200ms;
}

/* init html */
html, html body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;

  /* native css layout debug outliner */
  /* border: 1px solid #7fff0080; */
}

.container {
  display: flex;
  width: auto;
}

.cont-p {
  padding: 1rem .8rem .8rem .8rem;
}

.cont-m {
  margin: 0 0 2rem 0;
}

/* navs */
nav {
  display: flex;
  flex-flow: row nowrap;
  margin: .8rem 0 .8rem 0;
  height: fit-content;
  justify-content: center;
}

nav > * {
  margin: 0 .3rem 0 .3rem;
}

nav > * > * {
  display: flex;
  width: auto ;
  padding: .4rem;
}

/* gamenavs */
#nav-gamenav {
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: auto;
}

#nav-gamenav nav { 
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
  row-gap: 16px;
}

#nav-gamenav nav * { 
  margin: 0;
}

#nav-gamenav h2 {
  text-align: center;
  margin: 0;
}

/* jumbo */
#jumbotron {
  height: 100vh; /*changed to full viewport height*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jumbotron div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jumbotron * h1 {
  margin: 0 0 .4rem 0;
  text-align: center;
}

/* news */
.btn-drop {
  align-self: center;
  width: 50px;
  height: 36px;
}

.card-news {
  flex-grow: 0;
  width: calc(var(--height-main)*4);
  height: calc(var(--height-main)*3);
  margin: 1rem 0 0 0;
}

#news {
  flex-grow: 1;
  width: 100%;
}

#news div {
  flex-direction: column;
  width: 100%;
}

#news .toolbar {
  flex-direction: row;
}

#news h4 {
  padding: 0;
  padding-left: 1.6rem;
  margin: 0;
}

#news .container {
  justify-content: space-between;
}

#news-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  width: 100%;
  height: calc(var(--height-main)*2);
  padding: 0 10pt 0 10pt;
  align-self: baseline;
  overflow-y: scroll;
}

article li {
  list-style: circle;
  padding-left: 1em;
}


#news-box * {
  text-align: justify;
}

/* media resposive on desktop */
@media screen and (min-width: 768px) {

  #jumbotron {
    height: calc(var(--height-main)*10);
    width: auto;
    align-items: center;
  }

  .card-news {
    flex-grow: 0;
    width: calc(var(--height-main)*6.4);
    height: calc(var(--height-main)*4);
    margin: 1rem 0 0 0;
  }

  #jumbotron h1 {
    font-size: 48pt;
  }

  article {
  height: calc(var(--height-main)*3);
  }
  
  #nav-gamenav h2 {
    font-size: 36pt;
  }
}


/* footer defaults */
footer{
  padding: 2pt 0 2 2pt 0;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  footer * {
    font-size: 68%
  }
}
/* footer ends */


.text-cont-box {
  border: 2px solid var(--color-text-bg);
  max-height: initial;
}

.text-overflow {
  overflow-y: scroll;
  overflow-x: wrap  ;
}