/* layouts, mobile first */

:root {
  --height-main : 5.125rem; 
  --transition: 200ms;
}

/* init html */
html, html body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

html * {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  text-decoration: none;

  /* native css layout debug outliner */
  /* border: 1px solid #7fff0080; */
}

/* navs */
nav {
  display: flex;
  flex-flow: row nowrap;
  margin: .8rem 0 .8rem 0;
  width: fit-content;
  height: fit-content;
  justify-content: center;
}

nav > * {
  margin: 0 .3rem 0 .3rem;
}

nav > * > * {
  display: flex;
  width: auto ;
  padding: .4rem;
}

#nav-navbar, #nav-gamenav {
  display: flex;
}

/* gamenavs */
#nav-gamenav {
  justify-content: center;
  flex-direction: column;
  height: calc(var(--height-main)*2);
  width: auto;
}

#nav-gamenav h4 {
  text-align: center;
  margin: 0;
}

/* 
#nav-navbar nav li, #jumbotron nav li {
  border-radius: .3rem;
} 
*/

/* nav.j-center {
  justify-content: center;
}

nav.j-right {
  justify-content: flex-end;
}

nav.j-left {
  justify-content: flex-start;
} */

.container {
  display: flex;
  padding: 0;
  width: auto;
}

.cont-p {
  padding: 1rem 1.6rem 1rem 1.6rem;
}

.cont-m {
  margin: 0 0 2rem 0;
}

#jumbotron {
  height: calc(var(--height-main)*10);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#jumbotron div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#jumbotron * h1 {
  margin: 0 0 .4rem 0;
}


.btn-drop {
  align-self: center;
  width: 50px;
  height: 36px;
}

.card-news {
  flex-grow: 0;
  width: 100%;
  height: calc(var(--height-main)*4);
  margin: 1rem 0 0 0;
}

#news {
  flex-grow: 1;
  width: 100%;
}

#news div {
  flex-direction: column;
  width: 100%;
}

#news .toolbar {
  flex-direction: row !important;
}

#news h4 {
  padding: 0;
  padding-left: 1.6rem;
  margin: 0;
}

#news .container {
  justify-content: space-between;
}

#news-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  width: 100%;
  height: 100%;
  align-self: baseline;
}

#news-box * {
  text-align: justify;
}

/* media resposive on desktop */
@media screen and (min-width: 768px) {
  #jumbotron {
    height: calc(var(--height-main)*8);
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  #jumbotron div {
    align-items: flex-start;
  }

  #jumbotron h1 {
    font-size: 48pt;
  }

  #jumbotron .card-news {
    height: calc(var(--height-main)*7);
    margin-left: 2rem;
  }

  #news div {
    align-items: center;
  }

  .card-news {
    height: auto;
  }

  .btn-drop {
    align-self: flex-end;
  }
  
  #nav-gamenav {
    height: calc(var(--height-main)*2);
    width: auto;
  }
}


/* footer defaults */
footer{
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  footer * {
    font-size: 68%
  }
}
/* footer ends */


.text-cont-box {
  border: 2px solid var(--color-text-bg);
  max-height: initial;
} 

.text-overflow {
  overflow-y: scroll;
  overflow-x: wrap  ;
}