/* Custom styles and layout overrides */
:root{
  --color-main-white         :#fff;
  --color-main-white-w       :#ececec;
  --color-main-bg            :#c0b9c2;
  --color-main-bg-dk         :#918c8b;
  --color-main-bg-bl         :#131313;
  --color-text-bl            :#100b11;
  --color-alert              :#611420;
  --color-alert2             :#ff003c; 
  --color-text-hightlight    :#ebe356;
  --color-text-bg            :#c96724;
  --color-text-bg-h          :#514759;
  --color-main-bg-alpha      :#c1acc746;
  --color-main-bg-dk-alpha   :#383535c0;
}

@font-face {
  font-family: Unispace;
  src: url('font/unispace_bd.woff'); /* browser */
  src: url('font/unispace_bd.woff2'); /* modern browser */
  src: url('font/unispace_bd.ttf'); /* android, ios */
}

@font-face {
  font-family: RobotoCondensed;
  src: url('font/RobotoCondensed-Regular.ttf');
}

html , html body{
  font-size: 100%;
  font-family: RobotoCondensed, 'Courier New', Courier, monospace;
  background-color: var(--color-main-bg-bl);
  color: var(--color-main-white-w);
}

h1, h2, h3, h4 {
  font-family: Unispace, Helvetica, Arial, sans-serif;
  margin-block-start: .4em;
  margin-block-end: .4em;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
}

h5 {
  margin-block-start: .83em;
  margin-block-end: .4em;
  margin-inline-start: .2em;  
}

p {
  margin-block-start: .4em;
  margin-block-end: .2em;
}

a, a:visited {color: var(--color-main-white-w);}

li, ul, ol {
  list-style: none;
}

.nav-link {
  color: var(--color-main-white-w);
}

a ~ li {
  background: var(--color-text-bg);
  transition: var(--transition);
}

hr {
  border-bottom: 1px solid var(--color-main-bg-dk);
  margin-top: 2em;
}

img {
  max-width: var(--height-main);
}

/* nav styles */
.nav-social {
  background-color: var(--color-text-bg);
  transition: calc(var(--transition)*1);
}

.nav-social a {
  color: var(--color-text-bl);
}

.svg-fill {
  fill: var(--color-main-white-w);
  transition: var(--transition);
}

.nav-social .svg-fill {
  fill: var(--color-text-bl);
  transition: var(--transition);
}

nav .svg-icon {
  height: 3.6rem;
  width: 3.6rem;
  padding: .2rem;
  border: 1.2px solid var(--color-main-white-w);
  border-radius: .5rem;
  transition: calc(var(--transition)*.5) ease;
}

nav .svg-nav {
  height: 1.4rem;
  width: 1.4rem;
}

#navbar {
  margin-top: 0;
  background-color: var(--color-text-bg);
  transition: 200ms;
}

#burger {
  /* or trigram of heaven, borg */
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6em;
  height: 1.6em;
  padding-bottom: 4pt;
  font-size: 2em;
}

#rules li {
  margin: .2em 0 .4em 2rem ;
  list-style: decimal;
}

/* bgs */
.bg-animated {background: linear-gradient(#000000a0, #000000a0), url('../img/jumbo.gif');}

.bg-dim {background-color: #00000066;}

.bg-static {
  background-image: url('../img/background.png');}

.bg-cont-rem {background: none !important;}
.bg-cont-med {background-color: var(--color-main-bg-dk);}
.bg-cont-light {background-color: var(--color-main-bg);}
.bg-cont-med-alpha {background-color: var(--color-main-bg-dk-alpha);}
.bg-cont-light-alpha {background-color: var(--color-main-bg-alpha);}
.bg-h-light {background-color: var(--color-text-hightlight);}
.bg-h-med {background-color: var(--color-text-bg);}
.bg-h-dark {background-color: var(--color-text-bg-h);}
.bg-white {background-color: var(--color-main-white-w);}

.bg-cross {background: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ececec10' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url('../img/background.png');}

[class^="bg-"]{
  background-repeat: repeat, no-repeat;
  background-position: center center, center right;
  background-attachment: scroll, scroll;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

.text-color-dk * {color: var(--color-text-bl);}
.text-color-lg * {color: var(--color-main-white-w);}

.border-cont {
  border-bottom: 4.8px solid var(--color-text-bg);
}




/* dom events */
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: var(--color-text-hightlight);
  transition: calc(var(--transition)*1);
  /* background-color: var(--color-text-bg-h); */
}

nav a:hover .svg-icon, nav a:active .svg-icon
{
  fill: var(--color-text-hightlight);
  background-color: var(--color-text-bg-h);
  transition: calc(var(--transition)*1);
}

nav a:hover .svg-nav, nav a:active .svg-nav
{
  fill: var(--color-text-hightlight);
  transition: calc(var(--transition)*1);
}

a:hover, a:active {
  color: var(--color-text-hightlight);
  transition: calc(var(--transition)*1);
}

nav .inactive {
  opacity: 60%;
  transition: calc(var(--transition)*.5);
}

.disabled, .disabled:hover{
  pointer-events: none !important;
  opacity: 60% !important;
}

.hide {
  /* display: none !important; */
  transform: translateY(-100%);
  transition: 200ms;
  opacity: 0%;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  font-size: 120%;
  border-radius: 0;
  color: var(--color-text-bl);
  background-color: var(--color-text-bg);
  transition: calc(var(--transition)*.5);
}

button * {
  padding: 0;
  margin: 0;
}

button:hover, button:active {
  color: var(--color-alert2);
  background-color: var(--color-text-bg-h);
  
}

footer {
  color: var(--color-main-bg-dk);
  background: none;
}

@media screen and (min-width: 768px) {
  #navbar {
    display: flex;
    background: none;
    transform: translateY(0);
  }

  #burger {
    display: none;
    background: none;
  }

  .hide {
    transform: translateY(0);
    transition: 200ms;
    opacity: 100%;
  }

  h1 {
    font-size: 48pt;
  }

  h2 {
    font-size: 36pt;
  }

}

/* scrollbar from w3s */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}