/* Custom styles and layout overrides */
:root{
  --color-w1      :#fff;
  --color-w2      :#ececec;
  --color-main-bg   :#c0b9c2;
  --color-main-bg-d :#918c8b;
  --color-main-bg-b :#131313;
  --color-text-l    :#100b11;
  --color-p         :#611420;
  --color-p2        :#ff003c; 
  --color-text-h    :#ebe356;
  --color-text-bg   :#c96724;
  --color-text-bg-h :#514759;
  --color-main-bg-alpha   :#c1acc746;
  --color-main-bg-d-alpha :#918c8b66;

}

@font-face {
  /* webrip from discord referallink */
  font-family: Unispace;
  src: url('font/unispace_bd.woff'); /* browser */
  src: url('font/unispace_bd.woff2'); /* modern browser */
  src: url('font/unispace_bd.ttf'); /* android, ios */
}

@font-face {
  font-family: RobotoCondensed;
  src: url('font/RobotoCondensed-Regular.ttf');
}

html , html body{
  font-size: 100%;
  font-family: RobotoCondensed, 'Courier New', Courier, monospace;
  background-color: var(--color-main-bg-b);
  color: var(--color-w2);
}

h1, h2, h3, h4 {
  font-family: Unispace, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 24pt;
}

h5 {
  margin-block-start: .83em;
  margin-block-end: .4em;
  margin-inline-start: .2em;
}

p {
  margin-block-start: .4em;
  margin-block-end: .2em;
}

li, ul, ol {
  list-style: none;
}

a {
  color: var(--color-w2);
}

a:hover, a:active, a:focus {
  color: var(--color-text-h);
}

a ~ li {
  background: var(--color-text-bg);
  transition: var(--transition);
}

hr {
  border-bottom: 1px solid var(--color-main-bg-d);
  margin-top: 2em;
}

/* nav styles */
/* nav > * {
  background-color: var(--color-text-bg);
} */

.nav-social {
  background-color: var(--color-text-bg);
}

.nav-social a {
  color: var(--color-text-l);
}

.svg-fill {
  fill: var(--color-w2);
  transition: var(--transition);
}

.nav-social .svg-fill {
  fill: var(--color-text-l);
  transition: var(--transition);
}

nav .svg-icon {
  height: 3.6rem;
  width: 3.6rem;
  padding: .2rem;
  border: 1.2px solid var(--color-w2);
  border-radius: .5rem;
  transition: calc(var(--transition)*.5) ease;
}

nav .svg-nav {
  height: 1.4rem;
  width: 1.4rem;
}

/* bgs */
.bg-animated {
  background: linear-gradient(#000000a0, #000000a0), url('../img/jumbo.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.bg-dim {
  background-color: #00000066;
}

.bg-cont-rem {background: none !important;}
.bg-cont-med {background-color: var(--color-main-bg-d);}
.bg-cont-light {background-color: var(--color-main-bg);}
.bg-cont-med-alpha {background-color: var(--color-main-bg-d-alpha);}
.bg-cont-light-alpha {background-color: var(--color-main-bg-alpha);}
.bg-h-light {background-color: var(--color-text-h);}
.bg-h-med {background-color: var(--color-text-bg);}
.bg-h-dark {background-color: var(--color-text-bg-h);}

.border-cont {
  border-bottom: 4.8px solid var(--color-text-bg);
}

/* dom events related */
nav a:hover .svg-fill, nav a:active .svg-fill {
  fill: var(--color-text-h);
  transition: calc(var(--transition)*1);
  rotate: 3.14deg;
  scale: 98%;
}

a:hover, a:active {
  background-color: var(--color-text-bg-h);
  color: var(--color-text-h);
  transition: calc(var(--transition)*1);
}

nav .inactive {
  opacity: 60%;
  transition: calc(var(--transition)*.5);
}

.hide {
  display: none !important;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  font-size: 120%;
  border-radius: 0;
  color: var(--color-text-l);
  background-color: var(--color-text-bg);
  transition: calc(var(--transition)*.5);
}

button * {
  padding: 0;
  margin: 0;
}

button:hover, button:active {
  color: var(--color-p2);
  background-color: var(--color-text-bg-h);
  
}

footer {
  color: var(--color-main-bg-d);
  background-color: var(--color-main-bg-bor-text-bg-h);
}

@media screen and (min-width: 768px) {
  /* nav .svg-icon {
    height: calc(var(--height-main)*2.8);
    width: calc(var(--height-main)*2.8);
  } */
}

/* experimental placeholders for unassigned styles */
.filter-bg-blur {
  backdrop-filter: blur(10px) brightness(80%);
} 

.border-ends * {
  border-left: 2px solid var(--color-main-bg-d-alpha);
}

.border-ends *:last-child {
  border-right: 2px solid var(--color-main-bg-d-alpha);
}